<form [formGroup]="form" (ngSubmit)="editGame()">
    <h2>Add Game</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" formControlName="name" value="{{game.name}}">
    <div *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched" class="error">Name is required.</div>
  
    <label for="year">Year</label>
    <input type="number" id="year" name="year" formControlName="year" value="{{game.year}}">
    <div *ngIf="form.get('year')?.errors?.['required'] && form.get('year')?.touched" class="error">Year must be a number and is required.</div>
  
    <label for="Developer">Developer</label>
    <input type="text" id="developer" name="developer" formControlName="developer" value="{{game.developer}}">
    <div *ngIf="form.get('developer')?.errors?.['required'] && form.get('developer')?.touched" class="error">Developer is required.</div>
  
    <label for="imgUrl">Image Url</label>
    <input type="text" id="imgUrl" name="imgUrl" formControlName="imgUrl" value="{{game.imgUrl}}">
    <div *ngIf="form.get('imgUrl')?.errors?.['required'] && form.get('imgUrl')?.touched" class="error">ImgUrl is required.</div>
  
    <input type="submit" value="Edit Game">
  </form>
