.game-card {
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
    display: flex;
    gap: 1em;
}


img {
    max-width: 40%;
    max-height: 98%;
}

.options {
    display: flex;
    gap: 1em;
    width: 100%;
}

a {
    color: rgb(0, 180, 150);
    text-decoration: none;
    font-weight: bold;
}

.delete {
    color: rgb(200, 0, 0);
}

a:hover {
    color: white;
}

@media (max-width: 800px) {
    .game-card {
        width: 90%;
    }
}