<div class="game-card">
    <img src="{{gameInfo.imgUrl}}" alt="{{gameInfo.name}}">
    <div class="info">
        <p>Name : <strong>{{gameInfo.name}}</strong></p>
        <p>Year: <strong>{{gameInfo.year}}</strong></p>
        <p>Developer: <strong>{{gameInfo.developer}}</strong></p>
        <div class='options'>
            <a routerLink="/games/{{gameId}}/comments">Comments</a>
            <ng-container *ngIf="gameInfo.uploaderId === userId">
                <a routerLink="/games/{{gameId}}/edit">Edit</a>
                <a routerLink="/games/{{gameId}}/delete" class="delete">Delete</a>
            </ng-container>
        </div>
    </div>
</div>