<header>
    <h1 class="site-title">My<span class="colored">Game</span>Collection</h1>
    <nav class="top-nav">
        <a routerLink="/games">Games</a>
        <ng-container *ngIf="isLogged">
            <a routerLink="/games/add">Add Game</a>
            <a (click)='logout()'>Logout</a>
        </ng-container>
        <ng-container *ngIf="!isLogged">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </ng-container>
    </nav>
</header>
<hr>