<div class="container">
    <header>
        <img src="{{game.imgUrl}}" alt="{{game.name}}">
        <h2>Comments:</h2>
    </header>
    <form *ngIf="canComment" class="comment-form" [formGroup]="form" (ngSubmit)="addComment()">
        <textarea id="newComment" name="newComment" formControlName="newComment"></textarea>
        <input type="submit" value="Comment">
    </form>
    <ul class="comments-list">
        <li *ngFor="let comment of comments">
            <p class="commenter">{{comment.commenterEmail}}</p>
            <p class="content">{{comment.content}}</p>
        </li>
    </ul>
</div>